
/*=======================================================
      IMPORT FONT FILE
========================================================*/
@import url("../fonts/montserrat-fonts.css");
/*=======================================================
      Image Text
========================================================*/

figcaption {
    background-color: rgb(0, 0, 0);
    color: rgb(190, 177, 177);
    font:  montserrat;
    padding: 3px;
    text-align: center;
}

/*=======================================================
      Bottom portion - Images
========================================================*/
.row-fluid{text-align:center;}
.img-responsive{margin:0 auto}
/*=======================================================
      Navigation Menu
========================================================*/
navlist-right li {
    display: inline-block;
}
/* .navbar-nav > li{
	padding-left:10px;
	padding-right:10px;
	position: right;
  } */
	
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: rgb(0, 0, 0);
	font-weight: normal;
	position: relative;
	font-size: 13px;
	color: #333333;
	font-family: 'Montserrat', sans-serif;
}

/*=======================================================
      Button Hover Color
========================================================*/
.button				{	padding:6px 13px 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; height:30px;
	cursor:pointer;
	color:#fff !important; text-shadow:0px 1px 1px rgba(0, 0, 0, 0.6) !important; font-size:15px; line-height:45px !important;
	background:url(../images/gradient/g30.png) repeat-x top; font-family: arial, sans-serif; font-weight: bold; letter-spacing: -1px;
}

.button.big			{	color:#fff; text-shadow:0px 1px 1px rgba(0, 0, 0, 0.6); font-weight:bold; padding:9px 20px; font-size:19px;  line-height:57px !important; background:url(../images/gradient/g40.png) repeat-x top;}


.purchase:hover,
.button:hover,
.button.big:hover		{	background-position:bottom, 15px 11px;}
/*=======================================================
      Welcome Wording Animation
========================================================*/
img.tp-slider-alternative-image {
	width:100%;
	height:auto;
}
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption {
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";		-moz-opacity: 0;	-khtml-opacity: 0;	opacity: 0; */
	position:absolute;
	visibility: hidden;
	-webkit-font-smoothing: antialiased !important;
}
.tp-simpleresponsive img {
	max-width:none
}

/*=======================================================
      WRAPPER
========================================================*/
#wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 50px;
	padding-top: 0px;
}
#main-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}
/*=======================================================
      HEADINGS
========================================================*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #101010;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
h1 {
	font-size: 65px;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
p {
	color: #989898;
	font-size: 13px;
	line-height: 28px;
	font-family: 'montserratlight';
}
a {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-decoration: none !important;
	font-weight: normal;
	font-family: 'Montserrat', sans-serif;
}
img {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	display: inline-block !important;
}
ul {
	margin-bottom: 0px;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #757575;
}
.font-montserrat {
	font-family: 'Montserrat', sans-serif;
}
.font-hair-line {
	font-family: 'montserrathairline';
}
.font-light {
	font-family: 'montserratlight';
}
.font-regular {
	font-family: 'montserratregular';
}
.font-extra-bold {
	font-family: 'montserratbold';
}
.font-droid-serif {
	font-family: 'Droid Serif', serif;
}
.text-bold {
	font-weight: bold;
}
.light-gray-bg {
	background: #fbfbfb;
}
/*=======================================================
      SECTION
========================================================*/
section {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.overlay {
	background: rgba(49,49,49,0.7);
}
/*=======================================================
      BUTTON
========================================================*/
.btn {
	background: none;
	color: #35373e;
	border-radius: 4px;
	display: inline-block;
	padding: 13px 30px;
	font-size: 12px;
	border: 1px solid #35373e;
	text-transform: uppercase;
	border-radius: 0px;
	margin-top: 30px;
	letter-spacing: 1px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.btn-white {
	color: #fff;
	background: none;
	border: 2px solid #fff;
}
.btn-white:hover {
	background: #fff;
	color: #333;
}
.btn-small {
	font-weight: normal;
	font-size: 11px;
}
.btn-dark {
	color: #35373e;
	border-color: #35373e;
}
.btn:hover {
	background: #35373e;
	color: #fff;
}
.btn-1 {
	background: #333333;
	color: #fff;
}
.btn-1:hover {
	background: none;
	color: #333333;
}
.form-control {
	box-shadow: none;
	border: 1px solid #f7f7f7;
	border-radius: 0px;
	height: 40px;
}
.form-control:focus {
	border: none;
	box-shadow: none;
}
.full-width {
	display: inline-block;
	width: 100%;
}
.no-border {
	border: none !important;
}
.no-padding-t {
	padding-top: 0px !important;
}
.no-padding {
	padding: 0px !important;
}
.no-padding-b {
	padding-bottom: 0px !important;
}
hr {
	height: 1px;
	width: 35px;
	background: #333333;
	border: none;
}
/*=======================================================
      TITLE
========================================================*/
.title {
	text-align: center;
	margin-bottom: 30px;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 70px;
	
}
.title h4 {
	font-weight: normal;
	margin: 0px;
	font-size: 26px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 50px;
	letter-spacing: 1px;
	color: #ffffff;
}
.title h6 {
	font-weight: normal;
	margin: 0px;
	font-size: 26px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 1px;
	color: #ffffff;
}
.title p {
	color: #989898;
	font-size: 15px;
	font-family: 'Droid Serif', serif;
	line-height: 28px;
}
.bg-white {
	background: #fff !important;
}
.bg-gray-light {
	background: #fbfbfb !important;
}
/*=======================================================
      TOP BAR
========================================================*/
.top-bar {
}
/*=======================================================
      Padding 150px
========================================================*/
.section-150px {
	padding: 10px 0;
}
/*=======================================================
      Padding 100px
========================================================*/
.section-100px {
	padding: 10px 0;
}
/*=======================================================
      HEADER
========================================================*/
header {
	z-index: 99;
	position: relative;
	font-family: 'Montserrat', sans-serif;
}
/*=======================================================
     Navigation Text 
========================================================*/















header nav {
	display: inline-block;
	position: relative;
	z-index: 999;
	float: right;
	margin-top: 25px;
	margin-bottom: 0px;

}
header nav li a {
	padding: 10px 0px;
	margin: 0;
	border-color: transparent;
	text-decoration: none;
	line-height: 20px;
	text-transform: uppercase;
	color: #ffffff;
	float: left;
	font-size: 12px;
	margin:  0 15px;
	font-family: 'montserratregular';
	position: relative;
}
header nav li.active a:hover {
}
header nav li.active a {
}
header nav li a:hover {
}
header nav .menu li {
	float: left;
	padding: 0 5px;
}
header .menu ul.dropdown {
	padding-bottom: 0px;
	background: #fff;
}
/*=======================================================
     Menu Text 
========================================================*/
.menu{
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: relative;
	float: right;
	list-style-type: none;
}
header .menu ul.dropdown li a {
	text-transform: uppercase;
	font-size: 20px;
	border: none;
	padding: 0px 20px;
	line-height: 40px;
	background: none;
	color: rgb(255, 255, 255);
	font-size: 12px;
	
	width: 100%;

}
header .menu ul.dropdown li a:hover {
	background: #343434;
	color: #fff;
}
header .menu li > .megamenu li a:hover {
	background: #343434;
	color: #fff;
}
header nav .menu .indicator {
	display: none;
}
header ul.dropdown {
}
header ul.dropdown li {
	padding: 0px;
}
header ul.dropdown li:hover {
	background: none
}
header.main-header nav .menu li {
	padding: 0px;
}
/*=======================================================
      HOME SLIDER
========================================================*/
.home-slider {
	position: relative;
	overflow: hidden;
	max-height: 1000px;
}
/*=======================================================
      CONTENT
========================================================*/
.content {
	background: #ffffff;
}
.position-center-center {
	left: 50%;
	position: absolute;
	top: 20%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/*=======================================================
    	ABOUT
========================================================*/
.about {
}


/*=======================================================
			MARGIN 20px
========================================================*/
.margin-r-20 {
	margin-right: 20px;
}
.margin-l-20 {
	margin-left: 20px;
}
.margin-t-20 {
	margin-top: 10px;
}
.margin-t-30 {
	margin-top: 30px;
}
.margin-b-20 {
	margin-bottom: 20px;
}
/*=======================================================
			MARGIN 40px
========================================================*/
.margin-r-40 {
	margin-right: 40px;
}
.margin-l-40 {
	margin-left: 40px;
}
.margin-t-40 {
	margin-top: 10px;
}
.margin-b-40 {
	margin-bottom: 40px;
}
/*=======================================================
			MARGIN 80px
========================================================*/
.margin-r-80 {
	margin-right: 80px;
}
.margin-l-80 {
	margin-left: 80px;
}
.margin-t-80 {
	margin-top: 80px;
}
.margin-b-80 {
	margin-bottom: 80px;
}
/*=======================================================
			PADDING
========================================================*/
.padding-r-20 {
	padding-right: 20px !important;
}
.padding-r-80 {
	padding-right: 80px !important;
}
.padding-l-20 {
	padding-left: 20px;
}
.padding-t-20 {
	padding-top: 10px;
}
.padding-t-50 {
	padding-top: 50px;
}
.padding-b-20 {
	padding-bottom: 20px;
}
.padding-b-50 {
	padding-bottom: 50px;
}
.no-margin {
	margin: 0px !important;
}
.no-padding {
	padding: 0px !important;
}
.no-margin-t {
	margin-top: 0px !important;
}
.no-padding-t {
	padding-top: 0px !important;
}
.padding-l-60 {
	padding-left: 60px;
}
