

@import url("../fonts/montserrat-fonts.css");


html,body{
    margin:0;
    padding:0:
}
body{
    font-family: 'Montserrat', sans-serif;;
    height: 100vh;
    background: #000000;
}

header nav {
    position: fixed;
    z-index: 9;
    text-align: right;
    width: 100%;
    padding: 30px 100px;
    top: 0px;
    transform: translateY(0);
    opacity: 1;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  header nav ul li {
    display: inline-block;
    padding-left: 20px;
    margin-left: 20px;
  }
  
  header nav ul li:first-child{
    margin-left: 0;
    padding-left: 0
  }

.wrapper{
    padding:1em;
}

ul{
    list-style:none;
    display: flex;
    padding: 0;
    margin-right: auto;

}
a{
    text-decoration: none;
    color: rgb(245, 237, 237);
}

li a{
    margin-right: 2em;
}

h1{
    font-size:3em;
    margin-top: 1.5em;
}

.cta{
    display: block;
    padding: 2em 2em 2em 0;
    font-size: 1.4em;
}

img{
    width:100%;
    clip-path: polygon(0 0, 100% 0, 0 0);
}

ul.transition {
    display: flex; 
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
}

ul transition li{
    transform: scaleY(0);
    background:#000000;
    width: 20%;
}
